body {
    background-color: black;
    margin: 0;
    padding: 0;

}


.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 15vw auto 15vw;
}

.container * {
    grid-gap: 2vw;
}

header {
    grid-row: span 1;
    background-color: rgb(51, 46, 122);
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
}

.hamburger {
    grid-row: span 1;
    grid-column: span 1;
    
}

.logo{
    grid-column: 3 / 4;
}

main {
    grid-row: span 1;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 15vh 30vw 15vh auto
}

footer {
    grid-row: span 1;
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    background-color: rgb(51, 46, 122);
}

.hamburger div {
    color: white;
    font-size: 14vw;
}

.logotext {
    text-align: center;
    color: white;
    font-size: 7.5vw;
    margin-top: 1.75vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

div.login-reg {
    grid-row: span 1;
    grid-column: 2 / 3;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 5vh;
}

div.login-reg > div{
    background-color: rgb(77, 69, 185);
    grid-row: span 1;
    grid-column: span 1;
    border-radius: 4vh;
}

div.login-reg > div:hover {
    border: solid black;
}

div.login-reg > div > * {
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 6vw;
}


.advert {
    grid-column: 2 / 3;
    grid-row: span 1;
    text-align: center;
    font-family: roboto;
    font-size: 6vw;

}

.search {
    grid-column: 2 / 3;
    grid-row: span 1;
    background-color: rgb(252, 177, 38);
    border-radius: 4vh;
    transition: 0.1s;
}

.search a {
    font-family: ubuntu;
    text-decoration: none;
    color: white;
    font-size: 10vw;
}

.search:hover {
    border: solid black;
    border-width: 1vw;
    background-color: rgb(255, 166, 0);
}

.list {
    grid-column: 2 / 3;
    grid-row: span 1;
    font-family: ubuntu;
    color: black;
    font-size: 3vh;
    margin: top: 5vh;
}

